<?xml version="1.0"?>
<config>
  <modules>
    <Sociaby_Socialoffers>
      <version>0.1.0</version>
    </Sociaby_Socialoffers>
  </modules>
  <frontend>
    <routers>
      <socialoffers>
        <use>standard</use>
          <args>
            <module>Sociaby_Socialoffers</module>
            <frontName>socialoffers</frontName>
          </args>
      </socialoffers>
    </routers>
		<layout>
		  <updates>
			<socialoffers>
			  <file>socialoffers.xml</file>
			</socialoffers>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <socialoffers>
        <class>Sociaby_Socialoffers_Helper</class>
      </socialoffers>
    </helpers>
  	<blocks>
  	  <socialoffers>
  		  <class>Sociaby_Socialoffers_Block</class>
  	  </socialoffers>
  	</blocks>    
  </global>
</config> 